 
.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #333;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s, background-color 0.2s;
  z-index: 1;
  border: 2px solid #333 !important;
  z-index: 999;
  position: fixed;
}