// Fonts
$font-main: "Montserrat", sans-serif;
$font-accent:    "Permanent Marker", cursive;
$font-secondary: 'Roboto', sans-serif;

// Colors
$dark: #1C1C1D;
$accent-purple: #7711DD;
$purple: #962EFF;
$accent-orange: #FA6648;
$pink: #FFB0BC;
$accent-yellow: #FFBD12;
$accent-green: #1BDBC4;
$white: #fff;
$grey: #474A57;
$muted: #576CCA;

// Media
$LargeTablet: 959px; 
$tablet: 708px;
$mobile: 430px;
